
.navbar{
    background-color: white;
    height:100px;
}

@media screen and (min-width:768px){
    .toggle-container{display:none;}
}

@media screen and (max-width:767px){
    .largescreen-nav{display:none;}
}

.largescreen-nav{
    height:100px;
}

.logo-img img{
    height:90px;
}
.menulink{
    margin:0px;
    text-transform: uppercase;
}

.menulink a{
    color:rgba(20, 20, 20, 0.89);
    font-weight: 600;
}

.menulink a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(248, 119, 14);
    text-decoration-thickness: 3px;
    text-decoration-style:dotted ;
}

.menucontainer{
    padding-top:25px;
}

.logo-img{
    padding:10px;
    text-align: center;
}

.main-img-container img{
    width:100%;
}

.main-img-container{
    padding:0px;
}

.intro-text{
    position:absolute;
    z-index:2;
    right:10%;
    top:30%;
    background-color: rgba(20, 20, 20, 0.712);
    color:rgb(248, 119, 14);
    text-align: center;
    padding:10px;
}






.form-signup{
    color:#6b6b69;
}

.form-signup label{
    font-size:20px;
    text-transform: uppercase;
}

.form-signup input{
    background-color: rgb(238, 136, 20, 0.5);
    border:1px solid #6b6b69;
}

.form-login{
    color:#6b6b69;
}

.form-login label{
    font-size:20px;
    text-transform: uppercase;
}

.form-login input{
    background-color: rgb(238, 136, 20, 0.5);
    border:1px solid #6b6b69;
}

.submit-btn{
    background-color: rgb(238, 136, 20, 0.6);
    border:0px;
    color:#6b6b69;
    text-transform: uppercase;
    font-weight: 600;

}

.submit-btn:hover{
    background-color: #6b6b69;
    color:rgb(238, 136, 20);
}

.question{
    padding-top:20px;
    text-transform: uppercase;
    color:#6b6b69;
    font-weight: 500;
}